* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Style for all elements within my header section*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Styling for elements within the nav section*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Styling for each individual anchor element within the nav bar */
.header nav a {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* styling for our img element with the class of hero*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*Used to style our images that have the class of float left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Used to style our images that have the class of float right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*styling for our section element with class content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*styling our aside element*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Margin and text color Styling for benefit lead section*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}


/*Margin and text color Styling for benefit brand section*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/*Margin and text color Styling for benefit cost section*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/*heading 3 styling for the benefit lead section*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*heading 3 styling for the benefit brand section*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*heading 3 styling for the benefit cost section*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Image styling for the benefit lead section*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Image styling for the benefit brand section*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Image styling for the benefit cost section*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*styling for our section element with the search-engine-optimization id*/
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*styling for our section element with the online reputation management id*/
#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*styling for our section element with the social media marketing id*/
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Setting the max height of our image that is in the section with an id of search-engine-optimization*/
#search-engine-optimization img {
    max-height: 200px;
}

/*Setting the max height of our image that is in the section with an id of online-reputation-management*/
#online-reputation-management img {
    max-height: 200px;
}

/*Setting the max height of our image that is in the section with an id of social-media-marketing*/
#social-media-marketing img {
    max-height: 200px;
}

/*Setting the style of the h2 element that is in the section with an id of search-engine-optimization*/
#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Setting the style of the h2 element that is in the section with an id of online-reputation-management*/
#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Setting the style of the h2 element that is in the section with an id of social-media-marketing*/
#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Styling our footer section*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Styling our heading 2 in the footer section*/
.footer h2 {
    font-size: 20px;
}
